---
Checks: '-*, bugprone-*, clang-*, google-readability-*, misc-*, modernize-*, readability-*, performance-*, -clang-analyzer-cplusplus-*, -google-readability-namespace-comments, -bugprone-easily-swappable-parameters, -bugprone-suspicious-include, -readability-function-cognitive-complexity, -readability-identifier-length, -modernize-use-trailing-return-type, -misc-const-correctness, -readability-magic-numbers, -readability-implicit-bool-conversion'
WarningsAsErrors: 'bugprone-*, clang-*, google-*, misc-*, modernize-*, readability-*, performance-*'
FormatStyle: file
CheckOptions:
    - { key: readability-identifier-naming.StructCase,              value: CamelCase  }
    - { key: readability-identifier-naming.FunctionCase,            value: CamelCase  }
    - { key: readability-identifier-naming.VariableCase,            value: lower_case }
    - { key: readability-identifier-naming.LocalConstantCase,       value: lower_case }
    - { key: readability-identifier-naming.GlobalVariableCase,      value: lower_case }
    - { key: readability-identifier-naming.GlobalVariableSuffix,    value: _          }
    - { key: readability-identifier-naming.GlobalConstantCase,      value: CamelCase  }
    - { key: readability-identifier-naming.GlobalConstantPrefix,    value: k          }
    - { key: readability-identifier-naming.ConstexprVariableCase,   value: CamelCase  }
    - { key: readability-identifier-naming.ConstexprVariablePrefix, value: k          }
    - { key: readability-identifier-naming.EnumConstantCase,        value: CamelCase  }
    - { key: readability-identifier-naming.EnumConstantPrefix,      value: k          }
    - { key: readability-identifier-naming.StaticConstantCase,      value: CamelCase  }
    - { key: readability-identifier-naming.StaticConstantPrefix,    value: k          }
